<!doctype html>
<html lang="ru">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Изменить запись</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>

<body class="container" style="margin-top: 50px;">

	<div class="card">
		<div class="card-header">
			Edit animals
		</div>
		<div class="card-body">
			<form action="/animals/update/<%= id %>" method="post">
				<div class="form-group">
					<label>Название:</label>
					<input type="text" class="form-control" name="name" value="<%= name %>" autocomplete="off">
				</div>
				<div class="form-group">
					<input type="submit" class="btn btn-info" value="Сохранить" />
				</div>
			</form>
		</div>
	</div>

</body>
</html>