<!doctype html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Edit animal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <style>
        @media print {
            .no-print {
                display: none;
            }
        }
    </style>
</head>

<body class="container" style="margin-top: 50px;">
<a href="/">Перейти на главную</a>

<div class="card">
    <div class="card-header">
        <ul class="nav nav-pills w-100">
            <li class="nav-pill active">
                <a class="nav-link">Животные</a>
            </li>
            <li class="nav-pill ml-auto">
                <a class="nav-link active" href="/animals/add">Добавить запись</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Название</th>
                <th width="200px">Дейсвия</th>
            </tr>
            </thead>
            <tbody>
            <% for(let i = 0; i < data.length; i++) { %>
                <tr id='printableArea'>
                    <th scope="row">
                        <%= (i + 1) %>
                    </th>
                    <td>
                        <%= data[i].name %>
                    </td>
                    <td class="no-print">
                        <a class="btn btn-success edit" href="/animals/edit/<%= data[i].id %>">Изменить</a>
                        <a class="btn btn-danger delete" href="/animals/delete/<%= data[i].id %>">Удалить</a>
                        <input class="btn btn-info" type="button" onclick="printDiv('printableArea')"
                               value="Вывод на печать"/>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
</body>

</html>

<script>
    function printDiv(divName) {
        let printContents = document.getElementById(divName).innerHTML;
        let originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>