<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

  </head>
  <body>
    <h1><%= title %></h1>
    <a href="/animals">Животные</a>
  </body>
</ht<link rel='stylesheet' href='/stylesheets/style.css' />ml>
